#!/usr/bin/env nextflow

profiles {
    create { }
}

singularity {
  enabled = true
  autoMounts = true
  docker.enabled = false
}

singularity.cacheDir = '/users/k2370243/.singularity'

process {
    resourceLimits = [
        memory: 1024.GB,
        cpus: 128,
        time: 48.h
    ]
    executor = 'slurm'
}

params {
    config_profile_description = "e-Research King's College London CREATE HPC"
    config_profile_contact     = "e-Research (support@er.kcl.ac.uk)"
    config_profile_url         = "https://docs.er.kcl.ac.uk/"
    max_memory                 = 1024.GB
    max_cpus                   = 128
    max_time                   = 48.h

  // Max hmem queue parameters
  max_hmem_cpus = 128
  max_hmem_memory = 1024.GB
  max_hmem_time = 48.h

  gtf = "/scratch_tmp/prj/crb_chick_placodes/Jake/genomes/galgal6/Gallus_gallus.GRCg6a.97.gtf"
  fasta = "/scratch_tmp/prj/crb_chick_placodes/Jake/genomes/galgal6/Gallus_gallus.GRCg6a.dna.toplevel.fa"
  
  // samplesheets for RNA data
  rna_fulldata_sample_sheet = "/scratch_tmp/prj/crb_chick_placodes/Jake/scACE_nextflow_pipeline/scACE/samplesheets/samplesheet_rna_fulldata.csv"
  rna_stages_sample_sheet = "/scratch_tmp/prj/crb_chick_placodes/Jake/scACE_nextflow_pipeline/scACE/samplesheets/samplesheet_rna_stages.csv"
  rna_latent_time_sample_sheet = "/scratch_tmp/prj/crb_chick_placodes/Jake/scACE_nextflow_pipeline/scACE/samplesheets/samplesheet_rna_latent_time.csv"

  // samplesheets for ATAC data
  metacell_objs_sample_sheet = "/scratch_tmp/prj/crb_chick_placodes/Jake/scACE_nextflow_pipeline/scACE/samplesheets/samplesheet_atac_metacell_objs.csv"

  // sample sheets for pipeline switches
  aligned_sample_sheet = "/scratch_tmp/prj/crb_chick_placodes/Jake/scACE_nextflow_pipeline/scACE/samplesheets/samplesheet_aligned.csv"
  upstream_processed_sample_sheet = "/scratch_tmp/prj/crb_chick_placodes/Jake/scACE_nextflow_pipeline/scACE/samplesheets/samplesheet_upstream_processed.csv"
  singlecell_processed_sample_sheet = "/scratch_tmp/prj/crb_chick_placodes/Jake/scACE_nextflow_pipeline/scACE/samplesheets/samplesheet_singlecell_processed.csv"
  metacell_csvs_sample_sheet = "/scratch_tmp/prj/crb_chick_placodes/Jake/scACE_nextflow_pipeline/scACE/samplesheets/samplesheet_metacell_csvs.csv"
  mega_input_sample_sheet = "/scratch_tmp/prj/crb_chick_placodes/Jake/scACE_nextflow_pipeline/scACE/samplesheets/samplesheet_mega_input.csv"
  metacell_input_sample_sheet = "/scratch_tmp/prj/crb_chick_placodes/Jake/scACE_nextflow_pipeline/scACE/samplesheets/samplesheet_metacell_input.csv"

  append_outdir = false // Append timestamp to results folder
  tracedir = "${params.outdir}/_pipeline_info"
}

timeline {
  timeline.overwrite = true
  enabled = true
  file = "${params.tracedir}/execution_timeline.html"
}
report {
  report.overwrite = true
  enabled = true
  file = "${params.tracedir}/execution_report.html"
}
trace {
  trace.overwrite = true
  enabled = true
  file = "${params.tracedir}/execution_trace.txt"